# Lab 1 - Pandas Intro

In [2]:
import pandas as pd

movies_df = pd.read_csv("movie.csv")
movies_df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

## Questions

**0.** What is the average IMDB Score of all the movies?

In [3]:
movies_df.imdb_score.mean()

6.437428803905615

**1.** How many movies have "Star Wars" in the movie_title field?

In [6]:
movies_df.movie_title.str.contains("Star Wars").sum()

8

**2.** Which movie has the highest IMDB Score? What is that score?

In [35]:
movies_df[['movie_title', 'imdb_score']].sort_values("imdb_score", ascending=False)

                         movie_title  imdb_score
2725                Towering Inferno         9.5
1920        The Shawshank Redemption         9.3
3402                   The Godfather         9.2
2779                         Dekalog         9.1
4312            Kickboxer: Vengeance         9.1
...                              ...         ...
2266    Superbabies: Baby Geniuses 2         1.9
2240                  Disaster Movie         1.9
4498             The Helix... Loaded         1.9
1126                      Foodfight!         1.7
2789  Justin Bieber: Never Say Never         1.6

[4916 rows x 2 columns]

**3**. Which movie has the lowest IMDB Score? What is that score?

In [36]:
movies_df[['movie_title', 'imdb_score']].sort_values("imdb_score", ascending=True)

                         movie_title  imdb_score
2789  Justin Bieber: Never Say Never         1.6
1126                      Foodfight!         1.7
2240                  Disaster Movie         1.9
2266    Superbabies: Baby Geniuses 2         1.9
4498             The Helix... Loaded         1.9
...                              ...         ...
4312            Kickboxer: Vengeance         9.1
2779                         Dekalog         9.1
3402                   The Godfather         9.2
1920        The Shawshank Redemption         9.3
2725                Towering Inferno         9.5

[4916 rows x 2 columns]

**4.** For each director, how many movies have they directed (from this dataset)?

In [45]:
movies_df.value_counts('director_name')

director_name
Steven Spielberg    26
Woody Allen         22
Clint Eastwood      20
Martin Scorsese     20
Ridley Scott        16
                    ..
James Mottern        1
James Melkonian      1
James Mather         1
James Manera         1
Étienne Faure        1
Length: 2397, dtype: int64

**5.** What's the average duration of Action movies?

In [67]:
movies_df[movies_df['genres'].str.contains("Action")].duration.mean()

110.67657657657658

**6.** Which PG-13 movie had the biggest budget?

In [123]:
movies_df[['movie_title', 'content_rating', 'budget']][movies_df['content_rating'] == ("PG-13")].sort_values('budget', ascending=False)

                                   movie_title content_rating        budget
2294                         Princess Mononoke          PG-13  2.400000e+09
2305                                  Steamboy          PG-13  2.127520e+09
3779                                     Tango          PG-13  7.000000e+08
1     Pirates of the Caribbean: At World's End          PG-13  3.000000e+08
5                                  John Carter          PG-13  2.637000e+08
...                                        ...            ...           ...
2445                        Madea Goes to Jail          PG-13           NaN
1702                                Supercross          PG-13           NaN
4583                                    B-Girl          PG-13           NaN
2538                               The Cookout          PG-13           NaN
2486                              How She Move          PG-13           NaN

[1411 rows x 3 columns]

**7.** How many movies were made in each year (title_year)?

In [76]:
movies_df.value_counts('title_year')

title_year
2009.0    253
2014.0    243
2006.0    233
2013.0    231
2010.0    225
         ...
1943.0      1
1944.0      1
1958.0      1
1920.0      1
1916.0      1
Length: 91, dtype: int64

**8.** How many movies had more than 10000 movie_facebook_likes?

In [93]:
movies_df[movies_df['movie_facebook_likes'] > 10000].count().max()

1022


**9.** How many movies have "Tom Hanks" (as actor1, actor2, or actor3)?

In [121]:
movies_df[movies_df['actor_1_name'] == ("Tom Hanks")].count().max() + movies_df[movies_df['actor_2_name'] == ("Tom Hanks")].count().max() + movies_df[movies_df['actor_3_name'] == ("Tom Hanks")].count().max()

28

**10.**  What are the movies and number of voted users (num_voted_users) for movies that have less than 2 faces in the poster (facenumber_in_poster)?

In [130]:
movies_df[['movie_title', 'num_voted_users', 'facenumber_in_poster']][movies_df['facenumber_in_poster'] < (2)]

                         movie_title  num_voted_users  facenumber_in_poster
1920        The Shawshank Redemption          1689764                   0.0
3402                   The Godfather          1155770                   1.0
2779                         Dekalog            12590                   0.0
3415                           Fargo           170055                   0.0
2791          The Godfather: Part II           790926                   1.0
...                              ...              ...                   ...
3282                         Glitter            19412                   1.0
3438               Who's Your Caddy?            13815                   0.0
2240                  Disaster Movie            74945                   0.0
1126                      Foodfight!             4377                   0.0
2789  Justin Bieber: Never Say Never            74351                   1.0

[3313 rows x 3 columns]

**11.** What are the directors and number of director facebook likes for movies made beteween 2000 and 2004 (inclusive) sorted in descending order of director facebook likes?

In [138]:
movies_df[['movie_title', 'director_name', 'director_facebook_likes']][(movies_df['title_year'] >= (2000)) & (movies_df['title_year'] <= (2004))].sort_values('director_facebook_likes')

,movie_title,director_name,director_facebook_likes
335,The Lord of the Rings: The Return of the King,Peter Jackson,0.0
3384,The Work and the Glory,Russell Holt,0.0
3147,Spider,David Cronenberg,0.0
742,Hellboy,Guillermo del Toro,0.0
1111,The Pledge,Sean Penn,0.0
...,...,...,...
2023,Beyond the Sea,Kevin Spacey,18000.0
2849,Antwone Fisher,Denzel Washington,18000.0
1034,Panic Room,David Fincher,21000.0
3646,Memento,Christopher Nolan,22000.0
1057,Insomnia,Christopher Nolan,22000.0